
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>NODE JS Assignment</title>
</head>
<body>
    <header>
        <%- include('../common/header')%>
    </header>
    <h3 style="text-align: center;" >Login As</h3>
    <div class="buttons">
      
      
      <a href="/login" ><button type="button" class="btn btn-primary" style="margin-left: 46%;" >Teacher</button></a>
      <a href="/student" ><button type="button" class="btn btn-primary" style="text-align:center;">Student</button></a>
    </div>
</body>
</html>
















<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    
    <nav>
        <h3>Project</h3>
        <ul>
            <li><a href="/">Home</a></li>
            
                <li><a href="/profile">Profile</a></li>
                <li><a href="/auth/logout">Logout</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
              
              
        </ul>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html> -->